
.pane-card {
    -fx-background-color: white;
    -fx-background-radius: 18;
    -fx-border-color: #E0DFDC;
    -fx-border-radius: 18;
}

.pane-card:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.06), 25, 0.2, 1, 1);
}