.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 1;
    -fx-background-color: #ffffff;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #ffffff;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #393939;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #2B52D9;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}